

@keyframes logo{
    0% {width:25px; opacity: 0;}
    100% {width:475px; opacity: 1}
}
#logo{
    animation: logo 5s;
}



body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}
header {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.nav_links {
    display: flex;
    flex-direction: column;

}

.nav_item a:visited {
    color: blue;
}

.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px 50px 0px 0px;
    
}

.card {
    border-radius: 50px 50px 0px 0px;
    
    display: flex;
    
    flex-direction: column;
    flex-basis: 450px;
    
    
}   
 


.pricing {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.gallery img{
    border-style: solid;
    border-width: 10px;
    border-color: #50C7C7;
    margin: 10px;
    width: 300px;
    
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 900px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        
    }


    .card{
        flex-basis: 275px;
        justify-content: center;

        
    }
    body > header {
        top: 0px;
        position:sticky;
    }

}
@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}
@media print {
    body{
        font-family: 'Arial', Helvetica;
        background-image: none;
    }
    nav {
        width:100%;
    }
    .nav_links {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .pricing {
        align-items: flex-end;
        flex-wrap: nowrap;
        
    }
    .card {
        border-style: solid;
        border-color: #45ADDD;
        border-width: 2px;
        flex-basis: 325px;
        
    }
    .gallery {
        display: none;

    }
    #gallery {
        display: none;
    }

    main li:nth-child(2)::after {
        content: "\1F44D"
    }  
    
    
}


